{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h5>Your History:</h5>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in histories %}
            <tr>
                <td>{{ row.type }}</td>
                <td>{{ row.stock }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price | usd }}</td>
                <td>{{ row.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}